<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Dashboard - Bootstrap Admin Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600"
        rel="stylesheet">
<link href="css/font-awesome.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/pages/dashboard.css" rel="stylesheet">
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span> </a><a class="brand" href="index.html">血液透析整體服務資訊平台 beta</a>
      <div class="nav-collapse">
        <ul class="nav pull-right">
          <li class="dropdown"  style="display:none"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                            class="icon-cog"></i> 帳號 <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="javascript:;">設定</a></li>
              <li><a href="javascript:;">使用說明</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                            class="icon-user"></i> Jade Freeman <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="javascript:;">系統設定</a></li>
              <li><a href="javascript:;">個人基本資訊</a></li>
              <li><a href="javascript:;">登出</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!-- /container -->
  </div>
  <!-- /navbar-inner -->
</div>
<!-- /navbar -->
<div class="subnavbar">
  <div class="subnavbar-inner">
    <div class="container">
      <ul class="mainnav">
        <li class="active dropdown"><a href="index.html"><i class="icon-dashboard"></i><span>回首頁</span> </a> </li>
        <li class="dropdown"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-list-alt"></i><span>初次到院</span> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="Menu7-1.html">病患護理評估紀錄</a></li>
            <li><a href="Menu7-2.html">新進透析患者個案紀錄</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-list-alt"></i><span>預約管理</span> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="Menu2-1.html">掛號預約</a></li>
            <li><a href="Menu2-2.html">到診報到</a></li>
          </ul>
        </li>

        <li class="dropdown"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-list-alt"></i><span>病歷管理</span> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="PatientBG">病患基本資料維護</a></li>
            <li><a href="MedicalHistory">藥物治療紀錄</a></li>
            <li><a href="AnalysisHistory">血液透析治療紀錄</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-list-alt"></i><span>儀器藥品管理</span> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="Menu2-1.html">儀器妥善管理</a></li>
            <li><a href="Menu2-2.html">藥品基本維護</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-list-alt"></i><span>行政管理</span> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="HR_BG">人事基本資料維護</a></li>
            <li><a href="HR_Attend">出勤紀錄維護</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-list-alt"></i><span>匯出與匯入</span> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="AnalysisHistory">KIDIT匯出</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-list-alt"></i><span>報表管理</span> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="PatientBG">病患基本資料維護</a></li>
            <li><a href="MedicalHistory">藥物治療紀錄</a></li>
            <li><a href="AnalysisHistory">血液透析治療紀錄</a></li>
          </ul>
        </li>


        <ul>
    </div>
    <!-- /container -->
  </div>
  <!-- /subnavbar-inner -->
</div>
<!-- /subnavbar -->
<div class="main" style="margin-left:120px;">
身分證字號：<input type=text>&nbsp;<button class="button btn btn-success btn-small"><a href=menu4-5-1.html style='color:white'>查詢</a></button>
<table class="table table-striped table-bordered" style="width:900px;">
<tr><td colspan="2">
  一、一般資料<br>
  姓名：<input type=text width=100px> 病歷號碼：<input type=text width=100px>  身分證字號：<input type=text width=100px><bR>
  性別：<input type=text width=100px>血型：<input type=text width=100px>出生年月日：<input type=text width=100px><bR>
  身高：<input type=text width=100px>公分，體重：<input type=text width=100px>公斤，職業：<input type=text width=100px><bR>
  婚姻：
  <select class="form-control" id="sel1" style="width:50px">
    <option>已婚</option>
    <option selected>未婚</option>
  </select>
  經濟狀況：
  <select class="form-control" id="sel1" style="width:50px">
    <option>上</option>
    <option selected>中</option>
    <option>下</option>
  </select>
  經濟決定權：<input type=text width=100px><br>
  教育程度：
  <select class="form-control" id="sel1" style="width:50px">
    <option>不識字</option>
    <option selected>小學</option>
    <option>初中</option>
    <option>大專以上</option>
  </select>
  慣用語言：
  <select class="form-control" id="sel1" style="width:50px">
    <option>國語</option>
    <option selected>閩南語</option>
    <option>客家語</option>
    <option>其他</option>
  </select><br>
  緊急聯絡人<input type=text width=100px>，與病患關係：<input type=text width=100px>，電話：<input type=text width=100px><br>
  住址：<input type=text width=400px><br>
  電話：<input type=text width=100px>手機：<input type=text width=100px>
</td>
</tr>
<td width=50%>
二、家庭狀況<br>
<textarea style="width=100%;height:100%">
</textarea>
</td>
<td>
主要陪伴者：<input type=text width=100px>，
在家烹調者：<input type=text width=100px><br>
家族病史：家庭成員中是否有下列疾病<br>
<input type="checkbox" value="">心臟病
<input type="checkbox" value="">高血壓
<input type="checkbox" value="">糖尿病
<input type="checkbox" value="">消化性潰瘍
<input type="checkbox" value="">癌症
<input type="checkbox" value="">氣喘
<input type="checkbox" value="">癲癇
<input type="checkbox" value="">精神分裂
<input type="checkbox" value="">過敏
<input type="checkbox" value="">酗酒
<input type="checkbox" value="">其他
<input type=text width=100px>
</td>
</table>
</body>
</html>
